.btn-base {
    color: #fff;
    background-color: rgba(94, 159, 191, 0.87);
    border-color: rgba(44, 113, 150, 0.77);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    font-weight: bolder;
}

.btn-base:hover,
.btn-base:target,
.btn-base:active,
.btn-base:focus {
    background-color: rgba(94, 159, 191, 0.77);
}

.right-float {
    float: right;
}

/*header*/

.site-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    height: 55px;
    padding: 15px 0 15px 80px;
    background-color: #262a2b;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
}

.left-header {
    float: left;
}

.right-header {
    float: right;
}

/*main*/
main {
    overflow: hidden;
    padding-left: 80px;
}

main .container-fluid {
    transition: all .3s ease-in;
    position: relative;
    left: 0;
}

.offcanvas-open main .container-fluid {
    left: 300px;
}

/*left nav*/

.left-nav {
    position: fixed;
    z-index: 15;
    height: 100%;
    width: 80px;
    top: 55px;
    left: 0;
    background: #525252;
    text-align: center;
    font-size: 35px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.22);
}

.left-nav a {
    display: inherit;
    color: white;
    margin: 20px 0;
}

.left-nav a:hover {
    color: rgba(224, 229, 216, 0.32);
}

.left-nav-item {
    position: fixed;
    z-index: 10;
    left: -220px;
    width: 300px;
    top: 55px;
    height: 100%;
    border: 1px solid rgba(68, 110, 131, 0);
    padding: 10px 15px 10px 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    transition: all .3s ease-in;
}

.offcanvas-open .left-nav-item {
    left: 80px;
}

/*left nav*/
.site-content .container-fluid {
    margin-top: 130px;
}

.site-content .container-fluid .row {
    height: 100vh;
}

.left-nav-item
.folder-header {
    margin-bottom: 35px;
}

.left-nav-item
.folder-header h4 {
    float: left;
}

.left-nav-item
.folder-header .close-button {
    float: right;
}

.card {
    margin-bottom: .15rem;
}

.card .list-card {
    background-color: rgba(163, 218, 141, 0.91)
}

.card a {
    color: #fdfafa;
}

.card a:link {
    text-decoration: none;
}

.card i {
    float: left;
    font-size: 17px;
    line-height: 25px;
    margin-right: 11px;
}

.storage-item .wrapper {
    margin: 10px;
    height: auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px #c3acac;
    background-color: #fdfffd;
}

.storage-item .wrapper:hover {
    cursor: pointer;
    background-color: #fafbff;
}

.folder-style .wrapper {
    background-color: rgba(255, 245, 137, 0.44);
}

.folder-style .wrapper:hover {
    background-color: rgba(255, 245, 137, 0.74);
}

.storage-item i {
    color: black;
    margin-right: 10px;
}

.table .thead-table {
    background-color: rgba(163, 218, 141, 0.91);
    color: #fdfafa;
}

.folder-item {
    width: 220px;
    padding: 10px;
    font-weight: 500;
    height: 156px;
    position: relative;
    background-color: rgb(255, 160, 117);
    margin: 20px 50px;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.folder-item:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #262a2b;
    position: absolute;
    top: -12px;
    left: 0;
}

.folder-item:hover {
    background-color: rgba(255, 160, 117, 0.85);
}

.create-item {
    position: fixed;
    right: 30px;
    top: 85px;
    font-size: 40px;
}

.create-item:hover {
    color: #7a7778;
}

/*footer*/

.site-footer {
    position: fixed;
    z-index: 20;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 80px;
    text-align: center;
    background-color: #262a2b;
    color: white;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.14);
}

.site-footer a {
    color: #abdd97;
}

.site-footer a:link {
    text-decoration: none;
}

.sortable-highlight {
    background-color: #c8dcdd;
}

.file-depth {
    position: fixed;
    left: 80px;
    top: 55px;
    right: 0;
    z-index: 100;
    height: 55px;
    color: white;
}